<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="urn:org.nasdanika.amur.it.js"
            class="org.nasdanika.amur.it.js.JsPackage"
            genModel="model/js.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated js -->
      <package
            uri="urn:org.nasdanika.amur.it.js.exec"
            class="org.nasdanika.amur.it.js.exec.ExecPackage"
            genModel="model/js.genmodel"/>
   </extension>
   <extension
         point="org.nasdanika.common.HtmlRenderer">
      <html_renderer
            class="org.nasdanika.amur.it.js.impl.ParametersListHtmlRenderer">
      </html_renderer>
   </extension>


</plugin>
